body {
	background: linear-gradient(to bottom right, #87CEEB, #FFFFFF);
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

header {
	background: #fff;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 70px;
	z-index: 999;
}

nav {
	display: inline-block;
	float: right;
	margin-right: 30px;
}

nav ul {
	margin: 0;
	padding: 0;
	display: flex;
}

nav ul li {
	list-style: none;
}

nav ul li a {
	display: block;
	margin-left: 40px;
	color: #333;
	font-weight: bold;
	text-decoration: none;
	transition: color 0.3s ease;
}

nav ul li a:hover {
	color: #87CEEB;
}

main {
	margin: 150px auto 0;
	max-width: 960px;
	text-align: center;
}

main h1 {
	font-size: 50px;
	margin-bottom: 20px;
}

main p {
	font-size: 24px;
	margin-bottom: 50px;
}
