.menu {
  position: relative;
  display: inline-block;
}

.menu-icon {
  display: block;
  width: 30px;
  height: 20px;
  position: relative;
  cursor: pointer;
}

.menu-icon span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #000;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: all 0.2s ease-out;
}

.menu-items {
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  list-style: none;
  margin: 0;
  padding: 0;
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
  transform: scaleY(0);
  transform-origin: top center;
  transition: transform 0.2s ease-out;
}

.menu:hover .menu-items {
  transform: scaleY(1);
}

.menu:hover .menu-icon span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu:hover .menu-icon span:nth-child(2) {
  opacity: 0;
}

.menu:hover .menu-icon span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}
